<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="bg-principale form-page">
    <header th:insert="~{fragments/navbar :: navbar}">

    </header>

    <main class="mb-3 container">
        <div class="row">
            <div class="class col-12">
                <th:bloc>
                    <h1 th:if="${edit}" class="text-center mt-5 mb-4">Modifica il genere</h1>
                    <h1 th:unless="${edit}" class="text-center mt-5 mb-4">Inserisci un nuovo genere</h1>
                    <div>
                        <form id="genre-form" th:action="@{/genres/create}" th:object="${genre}" method="post">

                            <input type="hidden" th:field="*{id}" />


                            <div class="mb-3">
                                <label for="name" class="form-label">Nome genere</label>
                                <input id="name" class="form-control" type="text"
                                    placeholder="Inserisci il nome del videogame" th:field="*{name}"
                                    th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>

                                    </ul>
                                </div>
                            </div>


                            <div class="mb-3 d-flex justify-content-between">
                                <a th:href="@{/genres}" type="button" class="btn btn-danger">Indietro</a>
                                <input type="submit" class="btn btn-success" value="Save">
                            </div>

                        </form>
                    </div>
                </th:bloc>
            </div>

        </div>

        </div>

    </main>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>


