<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="bg-principale">
    <header th:insert="~{fragments/navbar :: navbar}">

    </header>

    <main class="mb-3 container">
        <div class="row">
            <div class="class col-12">
                <th:bloc>
                    <h1 th:if="${edit}" class="text-center mt-5 mb-4">Modifica l'ingredienti</h1>
                    <h1 th:unless="${edit}" class="text-center mt-5 mb-4">Inserisci un nuovo videogame</h1>
                    <div>
                        <form id="videogame-form" th:action="@{/videogames/create}" th:object="${videogame}"
                            method="post">

                            <input type="hidden" th:field="*{id}" />

                            <!-- <div th:if="${#fields.hasErrors()}">
                                <ul class="alert alert-danger p-5">
                                    <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                                </ul>

                            </div> -->

                            <div class="mb-3">
                                <label for="name" class="form-label">Nome videogame</label>
                                <input id="name" class="form-control" type="text"
                                    placeholder="Inserisci il nome del videogame" th:field="*{name}"
                                    th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>

                                    </ul>
                                </div>
                            </div>


                            <div class="class mb-3">
                                <div class="single-ingrediente form-check" th:each="genre : ${genres}">
                                    <input type="checkbox" th:id="|genre-${genre.id}|" th:field="*{genres}"
                                        th:value="${genre.id}">
                                    <label th:for="|genre-${genres.id}|" class="form-check-label"
                                        th:text="${genre.name}"></label>
                                </div>
                            </div>




                            <div class="mb-3">
                                <label for="description" class="form-label">Descrizione</label>
                                <textarea id="description" class="form-control" placeholder="Inserisci una descrizione"
                                    rows="3" th:field="*{description}" th:errorClass="is-invalid"></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('description')}" th:text="${error}"></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="fotoUrl" class="form-label">Inserisci l'url dell'immagine</label>
                                <input id="fotoUrl" class="form-control" type="url" placeholder="Url"
                                    th:field="*{fotoUrl}" th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('fotoUrl')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('fotoUrl')}" th:text="${error}"></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="videoUrl" class="form-label">Inserisci l'url del video</label>
                                <input id="videoUrl" class="form-control" type="url" placeholder="Url"
                                    th:field="*{videoUrl}" th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('videoUrl')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('videoUrl')}" th:text="${error}"></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="price" class="form-label">Prezzo</label>
                                    <input id="price" class="form-control" type="number" step="0.01"
                                        placeholder="Inserisci il price" th:field="*{price}" th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('price')}" th:text="${error}"></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="releaseDate" class="form-label">Data rilascio</label>
                                    <input id="releaseDate" class="form-control" type="date" th:field="*{releaseDate}"
                                        th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('releaseDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('releaseDate')}" th:text="${error}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                            <div class="mb-3 d-flex justify-content-between">
                                <a th:href="@{/videogames}" type="button" class="btn btn-danger">Indietro</a>
                                <input type="submit" class="btn btn-success" value="Save">

                            </div>

                            <div>
                            </div>
                        </form>
                    </div>
                </th:bloc>
            </div>
        </div>

        </div>

    </main>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>