<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/icona.png}" />

    <title>Benvenuti su SBEAM</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <header th:insert="~{fragments/navbar :: navbar}">
    </header>
    <div class="col-12">
        <img src="/img/metal-gear-header.png" alt="metal-gear" class="img-fluid w-100">
    </div>

    <main class="container mt-5">

        <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
            <div class="mb-3">
                <h2>Benvenuti su Sbeam</h2>
            </div>
            <div>
                <a th:href="@{/videogames/create}" type="button" class="btn btn-success">Add new videogame</a>
            </div>
        </div>


        <div th:each="videogame : ${videogames}" th:object="${videogame}" class="card mb-3 card-color">
            <a th:href="@{/videogames/{id}(id=${videogame.id})}" class="stretched-link"></a>
            <div class="row g-0">
                <div class="col-4">
                    <div class="ratio ratio-16x9">
                        <img th:src="*{fotoUrl}" alt="Foto videogame" class="w-100 h-100 rounded-start" />
                    </div>
                </div>

                <div class="col-8">
                    <div class="card-body">
                        <h3 th:text="*{name}" class=" fw-bold fs-5"></h3>
                        <p th:text="*{description}" class="card-text text-truncate mt-3"></p>
                        <div class="d-flex justify-content-between align-items-center mt-5">
                            <div class="btn-index">
                                <button type="button" class="btn btn-outline-danger me-2" data-bs-toggle="modal"
                                    th:attr="data-bs-target=|#deleteModal-${videogame.id}|">
                                    Elimina
                                </button>
                                <a th:href="@{/videogames/edit/{id}(id=${videogame.id})}"
                                    class="btn btn-outline-success">Modifica</a>
                            </div>
                            <div>
                                <p th:text="|*{price}€|" class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" th:id="|deleteModal-${videogame.id}|" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:text="|Stai per eliminare '${videogame.name}'|"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            Se sei sicuro di voler procedere, clicca su <strong>Elimina</strong>.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annulla</button>
                            <form th:action="@{/videogames/delete/{id}(id=${videogame.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Elimina</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>




    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>