.nav-sbeam {
  background-color: #171d25;
}

.logo-sbeam {
  width: auto;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-sbeam a {
  color: #dcdcdf;
  font-weight: bold;
}

.container {
  max-width: 60% !important; /* o 100% */
}

body{
  background: linear-gradient(to bottom, #29445b, #1b2838);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #dcdcdf;
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
}


/* .text-color{
  color: #dcdcdf;
} */

.card-color {
  border-radius: 0;
  border: none;
  background-color: #1b2838;
  color: #dcdcdf;
  box-shadow: none;

  /* aggiunto per l'ingrandimento */
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.nav-sbeam a:hover {
  color: #1a9fff;
}

.card-color:hover {
  background-color: #aacee3;
  color: #1b2838;

  /* ingrandimento */
  transform: scale(1.10);
}
